<div class="container">
    <div class="form-container">
      <form>
        <label for="description">Descripción:</label><br>
        <input type="text" id="description" name="description"><br>
        <label for="namePromotion">Nombre de la promoción:</label><br>
        <input type="text" id="namePromotion" name="namePromotion"><br>
        <label for="descuento">Descuento:</label><br>
        <input type="text" id="descuento" name="descuento"><br>
        <button type="submit">Enviar</button>
      </form>
    </div>
  
    <div class="table-container">
      <table>
        <tr id="header">
          <th>Descripción</th>
          <th>Nombre de la promoción</th>
          <th>Descuento</th>
        </tr>
        <tr *ngFor="let promotions of promotion">
          <td>{{promotions.description}}</td>
          <td>{{promotions.nameDescription}}</td>
          <td>{{promotions.percentageDiscount}}</td>
        </tr>
      </table>
    </div>
    
  </div>
  <app-client-list></app-client-list>
