<div class="employee-container">
    <div class="title">Clients</div>
    <button class="logout-button" (click)="logout()">Cerrar sesión</button>
    <div class="container-form">
      <form>
        <input type="text" id="name" name="name" formControlName="name" placeholder="Nombre">
        <input type="text" id="ci" name="ci" formControlName="ci" placeholder="CI">
        <input type="email" required id="email" name="email" formControlName="email" placeholder="Correo electrónico">
        <input type="tel" id="phone" name="phone" formControlName="phone" placeholder="Teléfono">
        <input type="number" id="age" name="age" formControlName="age" placeholder="Edad">
        <input type="number" id="height" name="height" formControlName="height" placeholder="Altura">
        <button type="submit">Ticket</button>
      </form>
    </div>
    
    <app-client-list></app-client-list>
  </div>
  