    <div class="employee-container">
        <div class="title">Clients</div>
        <div class="add-employee">
        <button (click)="addNewEmployee()">Register</button>
    </div>

    <div  class="add-form">
        <label for="newName">Nombre:</label>
        <input id="newName"  />
    
        <label for="newCi">CI:</label>
        <input id="newCi"  />
    
        <!-- Agrega otros campos del formulario según sea necesario -->
    
        <button (click)="createEmployee()">Crear Cliente</button>
    </div>
    
    
    <div class="employee-list">

      <div class="search-bar">
            <input [(ngModel)]="searchTerm" (input)="searchEntity()" placeholder="Buscar empleado..." />
            <button (click)="searchEmployees()">Buscar</button>
      </div>

      <div class="employee-header">
        <div class="header-item">Name</div>
        <div class="header-item">CI</div>
        <div class="header-item">Email</div>
        <div class="header-item">Telf</div>
        <div class="header-item">Age</div>
        <div class="header-item">Height</div>
        <div class="header-item">Promotion</div>
        <div class="header-item">Actions</div>
      </div>
      <div  class="employee-row" *ngFor="let client of clients">
        <div class="row-item">{{client.name}}</div>
        <div class="row-item">{{client.ci}}</div>
        <div class="row-item">{{client.email}}</div>
        <div class="row-item">{{client.phone}}</div>
        <div class="row-item">{{client.age}}</div>
        <div class="row-item">{{client.height}}</div>
        <div class="row-item">{{client.promotion}}</div>
        <div class="row-item">
          <!-- Aquí puedes colocar tus opciones de CRUD -->
          <button (click)="editEmployee()">Editar</button>
          <button (click)="deleteEmployee()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  