.employee-container {
  text-align: center;
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #6c757d;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

form {
  padding: 20px;
  border-radius: 8px;
}

input {
  width: 25%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.container-form button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  width: 25%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button:hover {
  opacity: 0.8;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c82333;
}
