<mat-accordion>
    <mat-expansion-panel *ngFor="let estacion of estaciones">
      <mat-expansion-panel-header>
        {{ estacion.name }}
      </mat-expansion-panel-header>
  
      <mat-accordion>
        <mat-expansion-panel *ngFor="let atraccion of estacion.attractions">
            <mat-expansion-panel-header>
                <div class="attraction-details">
                  <div class="attraction-detail">
                    <span class="attraction-label">Nombre:</span>
                    <span>{{ atraccion.name }}</span>
                  </div>
                  <div class="attraction-detail">
                    <span class="attraction-label">Descripción:</span>
                    <span>{{ atraccion.description }}</span>
                  </div>
                  <div class="attraction-detail">
                    <span class="attraction-label">Clasificación:</span>
                    <span>{{ atraccion.classification }}</span>
                  </div>
                  <div class="attraction-detail">
                    <span class="attraction-label">Condición de uso:</span>
                    <span>{{ atraccion.useCondition }}</span>
                  </div>
                </div>
              </mat-expansion-panel-header>
            <p>Máquina: {{ atraccion.statusMachine ? 'Habilitado' : 'Deshabilitado' }}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
</mat-accordion>
